In [2]:
import pandas as pd

In [9]:
full_ny_accidents_df = pd.read_csv("../Data/NY_accidents.csv")

full_ny_accidents_df.rename(columns={"ID": "Accident_ID"}, inplace=True)
full_ny_accidents_df.head()

,Unnamed: 0,Accident_ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,11,A-12,2,2020-12-17 16:38:09,2020-12-17 19:36:53,40.912210,-73.875099,40.916901,-73.871440,0.376,...,False,False,False,False,False,False,Night,Day,Day,Day
1,19,A-20,2,2020-04-18 14:41:08,2020-04-18 15:25:50,41.556862,-73.779556,41.556862,-73.779556,0.000,...,False,False,False,False,False,False,Day,Day,Day,Day
2,24,A-25,2,2020-06-25 14:48:35,2020-06-25 15:03:35,40.912200,-73.884610,40.912200,-73.884610,0.000,...,False,False,False,False,False,False,Day,Day,Day,Day
3,31,A-32,3,2018-11-28 07:47:31,2018-11-28 08:17:21,43.003693,-78.412064,43.003693,-78.412064,0.000,...,False,False,False,False,False,False,Day,Day,Day,Day
4,39,A-40,2,2020-12-22 00:44:00,2020-12-22 04:51:36,43.100197,-77.547005,43.099092,-77.546755,0.077,...,False,False,False,False,True,False,Night,Night,Night,Night

In [6]:
# Create NY_Accidents Table
# TODO: Check Types
# 
accidents_df = full_ny_accidents_df[['Accident_ID', 'Severity', 'Distance(mi)', 'Description']]
accidents_df

C:\Users\Sam\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Accident_ID,Severity,Distance(mi),Description
0,A-12,2,0.376,Crash on I-87 - NYS Thruway southbound at Afte...
1,A-20,2,0.000,Right hand shoulder blocked due to accident on...
2,A-25,2,0.000,At McLean Ave/Exit 3 - Accident. Left lane blo...
3,A-32,3,0.000,Accident on I-90 Eastbound at Exit 48A.
4,A-40,2,0.077,Incident on CLOVER ST near FRENCH RD Expect de...
...,...,...,...,...
126171,A-2906328,2,0.000,Accident on US-4 King St at US-4 King St River...
126172,A-2906344,2,0.010,Accident on Atlantic Ave at Pennsylvania Ave.
126173,A-2906422,3,0.000,At RT-111/Exit 56 - Accident.
126174,A-2906483,2,0.010,Right hand shoulder blocked due to accident on...
126175,A-2906523,3,0.000,Accident on I-287 Cross Westchester Expy Westb...

In [7]:
# Create Time Table
# TODO: Check Types
# 
time_df = full_ny_accidents_df[['Accident_ID', 'Start_Time', 'End_Time']]
time_df

C:\Users\Sam\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

       Accident_ID           Start_Time             End_Time
0             A-12  2020-12-17 16:38:09  2020-12-17 19:36:53
1             A-20  2020-04-18 14:41:08  2020-04-18 15:25:50
2             A-25  2020-06-25 14:48:35  2020-06-25 15:03:35
3             A-32  2018-11-28 07:47:31  2018-11-28 08:17:21
4             A-40  2020-12-22 00:44:00  2020-12-22 04:51:36
...            ...                  ...                  ...
126171   A-2906328  2017-10-02 16:14:18  2017-10-02 16:44:06
126172   A-2906344  2017-02-05 19:14:34  2017-02-05 19:44:19
126173   A-2906422  2020-05-22 15:24:47  2020-05-22 16:29:45
126174   A-2906483  2016-11-01 14:36:40  2016-11-01 15:36:25
126175   A-2906523  2017-11-23 19:47:33  2017-11-23 20:17:19

[126176 rows x 3 columns]

In [8]:
# Create Time_of_Day Table
# TODO: Check Types
# 
time_of_Day_df = full_ny_accidents_df[['Accident_ID', 'Sunrise_Sunset']]
time_of_Day_df

C:\Users\Sam\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

       Accident_ID Sunrise_Sunset
0             A-12          Night
1             A-20            Day
2             A-25            Day
3             A-32            Day
4             A-40          Night
...            ...            ...
126171   A-2906328            Day
126172   A-2906344          Night
126173   A-2906422            Day
126174   A-2906483            Day
126175   A-2906523          Night

[126176 rows x 2 columns]

In [ ]:
# Create Time_of_Day Table
# TODO: Check Types
# 
time_of_Day_df = full_ny_accidents_df[['Accident_ID', 'Sunrise_Sunset']]
time_of_Day_df