In [2]:
import pandas as pd

In [9]:
full_ny_accidents_df = pd.read_csv("../Data/NY_accidents.csv")

full_ny_accidents_df.rename(columns={"ID": "Accident_ID"}, inplace=True)
full_ny_accidents_df.head()

,Unnamed: 0,Accident_ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,11,A-12,2,2020-12-17 16:38:09,2020-12-17 19:36:53,40.912210,-73.875099,40.916901,-73.871440,0.376,...,False,False,False,False,False,False,Night,Day,Day,Day
1,19,A-20,2,2020-04-18 14:41:08,2020-04-18 15:25:50,41.556862,-73.779556,41.556862,-73.779556,0.000,...,False,False,False,False,False,False,Day,Day,Day,Day
2,24,A-25,2,2020-06-25 14:48:35,2020-06-25 15:03:35,40.912200,-73.884610,40.912200,-73.884610,0.000,...,False,False,False,False,False,False,Day,Day,Day,Day
3,31,A-32,3,2018-11-28 07:47:31,2018-11-28 08:17:21,43.003693,-78.412064,43.003693,-78.412064,0.000,...,False,False,False,False,False,False,Day,Day,Day,Day
4,39,A-40,2,2020-12-22 00:44:00,2020-12-22 04:51:36,43.100197,-77.547005,43.099092,-77.546755,0.077,...,False,False,False,False,True,False,Night,Night,Night,Night

In [14]:
# Create NY_Accidents Table
# TODO: Check Types
# 
accidents_df = full_ny_accidents_df[['Accident_ID', 'Severity', 'Distance(mi)', 'Description']]
accidents_df

,Accident_ID,Severity,Distance(mi),Description
0,A-12,2,0.376,Crash on I-87 - NYS Thruway southbound at Afte...
1,A-20,2,0.000,Right hand shoulder blocked due to accident on...
2,A-25,2,0.000,At McLean Ave/Exit 3 - Accident. Left lane blo...
3,A-32,3,0.000,Accident on I-90 Eastbound at Exit 48A.
4,A-40,2,0.077,Incident on CLOVER ST near FRENCH RD Expect de...
...,...,...,...,...
126171,A-2906328,2,0.000,Accident on US-4 King St at US-4 King St River...
126172,A-2906344,2,0.010,Accident on Atlantic Ave at Pennsylvania Ave.
126173,A-2906422,3,0.000,At RT-111/Exit 56 - Accident.
126174,A-2906483,2,0.010,Right hand shoulder blocked due to accident on...
126175,A-2906523,3,0.000,Accident on I-287 Cross Westchester Expy Westb...

In [15]:
# Create Time Table
# TODO: Check Types
# 
time_df = full_ny_accidents_df[['Accident_ID', 'Start_Time', 'End_Time', 'Sunrise_Sunset']]
time_df

       Accident_ID           Start_Time             End_Time Sunrise_Sunset
0             A-12  2020-12-17 16:38:09  2020-12-17 19:36:53          Night
1             A-20  2020-04-18 14:41:08  2020-04-18 15:25:50            Day
2             A-25  2020-06-25 14:48:35  2020-06-25 15:03:35            Day
3             A-32  2018-11-28 07:47:31  2018-11-28 08:17:21            Day
4             A-40  2020-12-22 00:44:00  2020-12-22 04:51:36          Night
...            ...                  ...                  ...            ...
126171   A-2906328  2017-10-02 16:14:18  2017-10-02 16:44:06            Day
126172   A-2906344  2017-02-05 19:14:34  2017-02-05 19:44:19          Night
126173   A-2906422  2020-05-22 15:24:47  2020-05-22 16:29:45            Day
126174   A-2906483  2016-11-01 14:36:40  2016-11-01 15:36:25            Day
126175   A-2906523  2017-11-23 19:47:33  2017-11-23 20:17:19          Night

[126176 rows x 4 columns]

In [10]:
# Create Lat_Lng Table
# TODO: Check Types
# 
Lat_Lng_df = full_ny_accidents_df[['Accident_ID', 'Start_Lat', 'Start_Lng', 'End_Lat', 'End_Lng']]
Lat_Lng_df

       Accident_ID  Start_Lat  Start_Lng    End_Lat    End_Lng
0             A-12  40.912210 -73.875099  40.916901 -73.871440
1             A-20  41.556862 -73.779556  41.556862 -73.779556
2             A-25  40.912200 -73.884610  40.912200 -73.884610
3             A-32  43.003693 -78.412064  43.003693 -78.412064
4             A-40  43.100197 -77.547005  43.099092 -77.546755
...            ...        ...        ...        ...        ...
126171   A-2906328  42.736958 -73.686813  42.736958 -73.686813
126172   A-2906344  40.675720 -73.896873        NaN        NaN
126173   A-2906422  40.808440 -73.221270  40.808440 -73.221270
126174   A-2906483  41.268185 -73.807411        NaN        NaN
126175   A-2906523  41.025894 -73.731834  41.025894 -73.731834

[126176 rows x 5 columns]

In [11]:
# Create Weather Table
# TODO: Check Types
# 
Weather_df = full_ny_accidents_df[['Accident_ID', 'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Direction', 'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition']]
Weather_df

,Accident_ID,Weather_Timestamp,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Direction,Wind_Speed(mph),Precipitation(in),Weather_Condition
0,A-12,2020-12-17 16:51:00,32.0,21.0,61.0,30.00,10.0,NNW,16.0,0.00,Fair
1,A-20,2020-04-18 14:53:00,45.0,38.0,63.0,29.59,10.0,N,15.0,0.00,Cloudy
2,A-25,2020-06-25 14:51:00,88.0,88.0,26.0,29.94,10.0,S,8.0,0.00,Mostly Cloudy
3,A-32,2018-11-28 07:51:00,30.2,18.9,93.0,29.66,0.8,West,16.1,0.02,Light Snow
4,A-40,2020-12-22 00:54:00,34.0,28.0,100.0,29.05,6.0,SW,7.0,0.00,Wintry Mix
...,...,...,...,...,...,...,...,...,...,...,...
126171,A-2906328,2017-10-02 15:51:00,69.1,NaN,38.0,30.41,10.0,WNW,6.9,NaN,Partly Cloudy
126172,A-2906344,2017-02-05 18:51:00,41.0,33.5,51.0,29.90,10.0,WSW,13.8,NaN,Scattered Clouds
126173,A-2906422,2020-05-22 14:56:00,73.0,73.0,55.0,30.01,10.0,S,12.0,0.00,Mostly Cloudy
126174,A-2906483,2016-11-01 14:58:00,53.6,NaN,67.0,30.31,10.0,South,6.9,NaN,Partly Cloudy
126175,A-2906523,2017-11-23 19:56:00,33.1,30.0,61.0,30.02,10.0,WNW,3.5,NaN,Clear

In [12]:
# Create infrastructure Table
# TODO: Check Types
# 
infrastructure_df = full_ny_accidents_df[['Accident_ID', 'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop']]
infrastructure_df

,Accident_ID,Bump,Crossing,Give_Way,Junction,No_Exit,Railway,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop
0,A-12,False,False,False,False,False,False,False,False,False,False,False,False
1,A-20,False,False,False,True,False,False,False,False,False,False,False,False
2,A-25,False,False,False,False,False,False,False,False,False,False,False,False
3,A-32,False,False,False,False,False,False,False,False,False,False,False,False
4,A-40,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
126171,A-2906328,False,False,False,False,False,False,False,False,False,False,False,False
126172,A-2906344,False,False,False,False,False,False,False,True,False,False,True,False
126173,A-2906422,False,False,False,False,False,False,False,False,False,False,False,False
126174,A-2906483,False,False,False,False,False,False,False,False,False,False,False,False
126175,A-2906523,False,False,False,False,False,False,False,False,False,False,False,False