In [1]:
import pandas as pd
from sqlalchemy import create_engine, Column, Integer, String, Float
from sqlalchemy.orm import Session
import psycopg2 as pg

from db_config import db_user
from db_config import db_pass
from db_config import db_host
from db_config import db_port

In [2]:

Lat_Lng_table_data = pd.read_csv('../Data/db_table_csvs/Lat_Lng.csv', index_col=0)
Lat_Lng_table_data.head()

  Accident_ID  Start_Lat  Start_Lng    End_Lat    End_Lng
0        A-12  40.912210 -73.875099  40.916901 -73.871440
1        A-20  41.556862 -73.779556  41.556862 -73.779556
2        A-25  40.912200 -73.884610  40.912200 -73.884610
3        A-32  43.003693 -78.412064  43.003693 -78.412064
4        A-40  43.100197 -77.547005  43.099092 -77.546755

In [3]:
engine = create_engine(f"postgresql://{db_user}:{db_pass}@{db_host}:{db_port}/bootcamp")
conn = engine.connect()

In [4]:
session = Session(bind=engine)

In [6]:
Lat_Lng_table_data.to_sql('Lat_Lng', con = conn, if_exists='replace', chunksize = 10000, method ='multi')

In [ ]:
session.close()