In [1]:
# S.PIERCE
import pandas as pd

In [2]:
#read in csv
df = pd.read_csv('../Data/income_by_location.csv')

In [3]:
#expand geography column into 2 separate columns
df[['County', 'State']] = df['Geography'].str.split(',', 1, expand=True)
df

,ID Race,Race,ID Year,Year,Household Income by Race,Household Income by Race Moe,Geography,ID Geography,Slug Geography,County,State
0,0,Total,2019,2019,69953,4889.0,"Albany County, NY",05000US36001,albany-county-ny,Albany County,NY
1,0,Total,2019,2019,41432,1090.0,"Bronx County, NY",05000US36005,bronx-county-ny,Bronx County,NY
2,0,Total,2019,2019,52010,3777.0,"Broome County, NY",05000US36007,broome-county-ny,Broome County,NY
3,0,Total,2019,2019,50912,2594.0,"Cattaraugus County, NY",05000US36009,cattaraugus-county-ny,Cattaraugus County,NY
4,0,Total,2019,2019,58665,4419.0,"Cayuga County, NY",05000US36011,cayuga-county-ny,Cayuga County,NY
...,...,...,...,...,...,...,...,...,...,...,...
1974,9,Hispanic,2013,2013,25847,6356.0,"Tompkins County, NY",05000US36109,tompkins-county-ny,Tompkins County,NY
1975,9,Hispanic,2013,2013,45037,28859.0,"Ulster County, NY",05000US36111,ulster-county-ny,Ulster County,NY
1976,9,Hispanic,2013,2013,37361,29732.0,"Warren County, NY",05000US36113,warren-county-ny,Warren County,NY
1977,9,Hispanic,2013,2013,40253,22919.0,"Wayne County, NY",05000US36117,wayne-county-ny,Wayne County,NY
1978,9,Hispanic,2013,2013,53423,6260.0,"Westchester County, NY",05000US36119,westchester-county-ny,Westchester County,NY

In [4]:
# drop redundant columns
df.drop(columns=["ID Race", "ID Year", "ID Geography", "Slug Geography", "Geography"], inplace=True)
df

,Race,Year,Household Income by Race,Household Income by Race Moe,County,State
0,Total,2019,69953,4889.0,Albany County,NY
1,Total,2019,41432,1090.0,Bronx County,NY
2,Total,2019,52010,3777.0,Broome County,NY
3,Total,2019,50912,2594.0,Cattaraugus County,NY
4,Total,2019,58665,4419.0,Cayuga County,NY
...,...,...,...,...,...,...
1974,Hispanic,2013,25847,6356.0,Tompkins County,NY
1975,Hispanic,2013,45037,28859.0,Ulster County,NY
1976,Hispanic,2013,37361,29732.0,Warren County,NY
1977,Hispanic,2013,40253,22919.0,Wayne County,NY
1978,Hispanic,2013,53423,6260.0,Westchester County,NY

In [5]:

df.to_csv("../Data/clean_income_by_location.csv", encoding="utf-8", index=False)